[Unit]
Description=pco.edge CLHS camera discovery service
After=network.target remote-fs.target

[Service]
Type=simple
Restart=on-abort
RestartSec=3
User=root
ExecStart=/usr/bin/env bash /opt/PCO/pcoclhs.service.sh

[Install]
WantedBy=multi-user.target